<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="shellhub.github.neteasemusic">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".ui.activities.SplashActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activities.LoginActivity"
            android:label="@string/login_with_mobile"
            android:parentActivityName=".ui.activities.AccountActivity" />
        <activity
            android:name=".ui.activities.AccountActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ui.activities.RegisterActivity" />
        <activity
            android:name=".ui.activities.LocalActivity"
            android:label="@string/local_files"
            android:parentActivityName=".ui.activities.MainActivity" />
        <activity
            android:name=".ui.activities.RecentPlayActivity"
            android:label="Recent play"
            android:parentActivityName=".ui.activities.MainActivity" />
        <activity
            android:name=".ui.activities.ManageDownloadsActivity"
            android:label="@string/manage_downloads"
            android:parentActivityName=".ui.activities.MainActivity" />
        <activity
            android:name=".ui.activities.StationsActivity"
            android:label="@string/stations"
            android:parentActivityName=".ui.activities.MainActivity" />
        <activity
            android:name=".ui.activities.FavoritesActivity"
            android:label="@string/favs"
            android:parentActivityName=".ui.activities.MainActivity" />
    </application>

</manifest>