<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="shellhub.github.neteasemusic">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <permission android:name="android.permission.MEDIA_CONTENT_CONTROL" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".ui.activities.SplashActivity"
            android:theme="@style/AppTheme.NoActionBar">

             <intent-filter>
             <action android:name="android.intent.action.MAIN" />


             <category android:name="android.intent.category.LAUNCHER" />
             </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activities.LoginActivity"
            android:label="@string/login_with_mobile"
            android:parentActivityName=".ui.activities.AccountActivity" />
        <activity
            android:name=".ui.activities.AccountActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ui.activities.RegisterActivity" />
        <activity
            android:name=".ui.activities.LocalActivity"
            android:label="@string/local_files"
            android:parentActivityName=".ui.activities.MainActivity" />
        <activity
            android:name=".ui.activities.RecentPlayActivity"
            android:label="Recent play"
            android:parentActivityName=".ui.activities.MainActivity" />
        <activity
            android:name=".ui.activities.ManageDownloadsActivity"
            android:label="@string/manage_downloads"
            android:parentActivityName=".ui.activities.MainActivity" />
        <activity
            android:name=".ui.activities.StationsActivity"
            android:label="@string/stations"
            android:parentActivityName=".ui.activities.MainActivity" />
        <activity
            android:name=".ui.activities.FavoritesActivity"
            android:label="@string/favs"
            android:parentActivityName=".ui.activities.MainActivity" />
        <activity android:name=".ui.activities.PlayActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="file" />
                <data android:mimeType="audio/*" />
                <data android:mimeType="application/ogg" />
                <data android:mimeType="application/x-ogg" />
                <data android:mimeType="application/itunes" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:mimeType="audio/*" />
                <data android:mimeType="application/ogg" />
                <data android:mimeType="application/x-ogg" />
                <data android:mimeType="application/itunes" />
            </intent-filter>
            <intent-filter android:priority="-1">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="content" />
                <data android:mimeType="audio/*" />
                <data android:mimeType="application/ogg" />
                <data android:mimeType="application/x-ogg" />
                <data android:mimeType="application/itunes" />
            </intent-filter>
        </activity>
        <!--<activity android:name=".ui.activities.CommentActivity">-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->


                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        <!--</activity>-->

        <service
            android:name=".service.impl.MusicServiceImpl"
            android:enabled="true"
            android:exported="true" />
    </application>

</manifest>